*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
}

.container{
    width: 80vw;
}

nav{
    background-color: darkorange;
    height: 100vh;
    width: 20vw;
    text-align: center;
    padding: 10px;
    color: white;
}

header,footer{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 10px;
    height: 10vh;
}
article{
    background-color:blueviolet;
    color: white;
    text-align: center;
    padding: 10px;
    height: 80vh;
}