*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 10px;
    height: 15vh;
}

main{
    display: flex;
    height: 70vh;
}

article{
    background-color:blueviolet;
    color: white;
    text-align: center;
    padding: 10px;
    width: 50vw;
}

aside{
    background-color: orange;
    color: white;
    padding: 10px;
    width: 25vw;
    text-align: center;
}

nav{
    background-color: darkorange;
    color: white;
    padding: 10px;
    width: 25vw;
    text-align: center;
}